header {
  position: relative;
  padding: 30px;
  background-image: url("/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

header h3 {
  margin: 0 auto;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

header form {
  display: flex;
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 45px;
}

header form input {
  flex: 1;
  width: 100%;
  padding: 18px 20px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border: none;
  outline: none;
  color: var(--color-secondary);
  cursor: pointer;
}

header form button {
  min-width: 65px;
  background-color: black;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

header form button:hover {
  background-color: var(--color-secondary);
  opacity: 0.9;
}

header form button img {
  display: inline-block;
}

header ul {
  background-color: white;
  border-radius: var(--border-radius);
  margin: 0 auto;
  display: flex;
  width: 80%;
}

header ul li {
  color: var(--color-primary);
  padding: 35px;
  width: 25%;
  position: relative;
  overflow-wrap: break-word;
}

header ul li::after {
  content: "";
  border-left: 1px solid var(--color-secondary);
  position: absolute;
  height: 50%;
  right: 0;
  top: 25%;
}

header ul li:last-child::after {
  display: none;
}

header ul li article h6 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--color-secondary);
}

header ul li article p {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 15px 0;
  overflow-wrap: break-word;
}

.map {
  position: relative;
  z-index: -1;
  height: calc(100vh - 280px);
}

@media (max-width: 768px) {
  header form {
    width: 80%;
    min-width: 0;
  }

  header ul li {
    border: none;
    padding: 15px;
  }

  header ul li article h6 {
    font-size: 0.6rem;
  }

  header ul li article p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
}

@media (max-width: 425px) {
  header {
    background-image: url("/images/pattern-bg-mobile.png");
  }

  header h3 {
    font-size: 1.6rem;
  }

  header form {
    width: 100%;
    min-width: 0;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  header form input {
    font-size: 1rem;
  }

  header ul {
    width: 100%;
    display: block;
    text-align: center;
  }

  header ul li {
    width: auto;
    border: none;
    padding: 10px;
  }

  header ul li::after {
    display: none;
  }

  header ul li article h6 {
    font-size: 0.5rem;
  }

  header ul li article p {
    font-size: 1rem;
    margin: 5px 0;
  }
}
