:root {
  --color-primary: hsl(0 0% 17%);
  --color-secondary: hsl(0 0% 59%);

  --font-family: "Rubik", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.125rem;
  --border-radius: 15px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
  font-family: var(--font-family);
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
li,
input {
  font-size: var(--font-size-text);
}

p {
  word-break: break-word;
  margin: 0;
}
